@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  padding: 1.25rem;
}

.d-block {
  display: block !important;
}

.headerPaper {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.headerPaper .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.headerPaper .header-row .header-menu:hover #navBarHeader {
  display: block;
}
.headerPaper .header-row .header-menu {
  display: inline-block;
  text-align: center;
  width: 10%;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-right: 1px solid #2f80ed;
    background-color: #f4f6f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 2.5rem;
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-menu {
    width: 16%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-menu {
    width: 12%;
  }
}
.headerPaper .header-row .header-menu .header-menu__label {
  margin: 0;
}
.headerPaper .header-row .header-menu .header-menu__label :hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-menu .header-menu__label {
    margin-left: 0.625rem;
  }
}
.headerPaper .header-row .header-menu .header-menu__txt {
  color: #2f80ed;
  font-size: 0.75rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-menu .header-menu__txt {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-menu .header-menu__txt {
    margin-right: 0.3rem;
  }
}
.headerPaper .header-row .header-menu .header-menu__nav {
  display: none;
  position: absolute;
  margin-top: 0.9375rem;
  margin-left: -1.25rem;
  text-align: left;
  z-index: 999;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-menu .header-menu__nav {
    margin-top: 105px;
    margin-left: -6.6875rem;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-menu .header-menu__nav {
    margin-left: -7.625rem;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-menu .header-menu__nav {
    margin-left: -8.75rem;
    width: 20%;
  }
}
.headerPaper .header-row .header-menu .header-menu__nav ul {
  background-color: #2f80ed;
  list-style: none;
  margin: 0;
  padding: 0;
}
.headerPaper .header-row .header-menu .header-menu__nav ul .header-menu__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.headerPaper
  .header-row
  .header-menu
  .header-menu__nav
  ul
  .header-menu__item:hover {
  background-color: #f4f6f9;
}
.headerPaper
  .header-row
  .header-menu
  .header-menu__nav
  ul
  .header-menu__item
  .header-menu__link {
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.9375rem 1.25rem;
}
.headerPaper
  .header-row
  .header-menu
  .header-menu__nav
  ul
  .header-menu__item
  .header-menu__link:hover {
  color: #2f80ed;
}
.headerPaper .header-row .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 35%;
}
@media screen and (min-width: 480px) {
  .headerPaper .header-row .header-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 16%;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-logo {
    width: 18%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-logo {
    width: 14%;
  }
}
.headerPaper .header-row .header-logo .header-logo__img {
  width: 5rem;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-logo .header-logo__img {
    width: 10rem;
  }
}
.headerPaper .header-row .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 768px) {
  .headerPaper .header-row .header-botones {
    width: auto !important;
  }
  .headerPaper .header-row .header-botones .header-botones__cuenta span {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .headerPaper .header-row .header-form {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 35%;
  }
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-form {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 42%;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-form {
    width: 49%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-form {
    width: 54%;
  }
}
.headerPaper .header-row .header-form .header-form__input {
  background-color: #f4f6f9;
  border: 0;
  bottom: -35px;
  display: none;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  left: -9.25rem;
  position: absolute;
  outline: none;
  padding: 5px 0 5px 8px;
  width: 18.75rem;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-menu {
    width: 16%;
  }
  .headerPaper .header-row .header-form .header-form__input {
    display: block;
    height: 2.5rem;
    position: static;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .headerPaper .header-row .header-form .header-form__input {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-form .header-form__input {
    width: 50%;
  }
}
.headerPaper .header-row .header-form .header-form__btn {
  cursor: pointer;
  background-color: #2f80ed;
  border: none;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5rem;
  outline: none;
  width: 2.5rem;
}
.headerPaper .header-row .header-form .header-form__btn:active {
  border: none;
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-form .header-form__btn {
    border-radius: 0;
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }
}
.headerPaper .header-row .header-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
}
@media screen and (min-width: 480px) {
  .headerPaper .header-row .header-botones {
    width: 35%;
  }
}
@media screen and (min-width: 768px) {
  .headerPaper .header-row .header-botones {
    width: 17%;
  }
}
@media screen and (min-width: 1280px) {
  .headerPaper .header-row .header-botones {
    width: 16%;
    position: relative;
  }
}
.headerPaper .header-row .header-botones img {
  width: 1.25rem;
  margin-right: 4px;
}
.headerPaper
  .header-row
  .header-botones
  .header-botones__cuenta:hover
  > #myAccount {
  display: block;
}
.headerPaper .header-row .header-botones .header-botones__cuenta {
  background-color: #2f80ed;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.headerPaper .header-row .header-botones #hello {
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-right: 4px;
  top: 1px;
  position: relative;
}
.headerPaper .header-row .header-botones #name {
  color: white;
  font-size: 13px;
  position: relative;
  top: 2px;
}

.headerPaper .header-row .header-botones .centro {
  border: 1px solid #fff;
}

.headerPaper .header-row .header-botones .header-botones__tienda {
  background-color: #f2994a;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 2.5rem;
  width: 48px;
}

.main-form.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.main-form.contain .main-form__row {
  padding: 0 1.25rem;
}
.main-form.contain
  .main-form__row
  .main-form__btnSociales
  img[src*="btn_face" i] {
  margin-bottom: 30px;
}
.main-form.contain
  .main-form__row
  .main-form__btnSociales
  img[src*="btn_google" i] {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 480px) {
  .main-form.contain .main-form__row .main-form__btnSociales {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__btnSociales {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row .main-form__btnSociales {
    width: 40%;
  }
}
.main-form.contain .main-form__row .main-form__separador {
  border: 1px solid #2f80ed;
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__separador {
    margin: 1.5rem 0;
  }
}
.main-form.contain .main-form__row .main-form__form {
  margin: 1.5rem 0;
}
.main-form.contain .main-form__row .main-form__form .inputWithIcon {
  position: relative;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="email"],
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="password"] {
  width: 100%;
  border: 0;
  background-color: #f4f6f9;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  margin: 8px 0;
  outline: none;
  padding: 0.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="email"]:focus,
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="password"]:focus {
  border-color: dodgerBlue;
  -webkit-box-shadow: 0 0 8px 0 dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.main-form.contain .main-form__row .main-form__form .inputWithIcon i {
  position: absolute;
  font-size: 1.125rem;
  left: 0;
  top: 0.65rem;
  padding: 9px 8px;
  color: #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-form.contain .main-form__row .main-form__form .inputWithIcon .icon-eye {
  left: 15rem;
}
@media screen and (min-width: 480px) {
  .main-form.contain .main-form__row .main-form__form .inputWithIcon .icon-eye {
    left: 24.5rem;
  }
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__form .inputWithIcon .icon-eye {
    left: 16.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row .main-form__form .inputWithIcon .icon-eye {
    left: 15rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-form.contain .main-form__row .main-form__form .inputWithIcon .icon-eye {
    left: 17rem;
  }
}
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="email"] {
  padding-left: 35px;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .inputWithIcon
  input[type="password"] {
  padding-left: 35px;
}
.main-form.contain .main-form__row .main-form__form .main-form__txt p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.main-form.contain .main-form__row .main-form__form .main-form__txt p a {
  text-decoration: none;
  color: #2f80ed;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .main-form__btn
  input[type="button"] {
  width: 100%;
  height: 3rem;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .main-form__btn
  input[value*="Iniciar sesión"] {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: white;
  background-color: #2f80ed;
  border: 0;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.main-form.contain
  .main-form__row
  .main-form__form
  .main-form__btn
  input[value*="Olvidaste tu contraseña"] {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #2f80ed;
  background-color: white;
  border: 0;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__form {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row .main-form__form {
    width: 40%;
    margin: 1rem 2rem;
  }
}
.main-form.contain .main-form__row .main-form__separadorHoizontal {
  border: 1px solid #2f80ed;
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__separadorHoizontal {
    width: 100%;
  }
}
.main-form.contain .main-form__row .main-form__registro h3.subtitle {
  color: #2f80ed;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin: 1rem 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__registro h3.subtitle {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row .main-form__registro h3.subtitle {
    width: 45%;
    padding: 1rem;
    margin: 0;
  }
}
.main-form.contain
  .main-form__row
  .main-form__registro
  .main-form__registro__txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .main-form.contain
    .main-form__row
    .main-form__registro
    .main-form__registro__txt {
    width: 45%;
    padding: 1rem;
    margin: 0;
  }
}
.main-form.contain
  .main-form__row
  .main-form__registro
  .main-form__registro__btn {
  color: #2f80ed;
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid #2f80ed;
  border-radius: 4px;
  height: 3rem;
  outline: none;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .main-form.contain
    .main-form__row
    .main-form__registro
    .main-form__registro__btn {
    margin-bottom: 1rem;
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row .main-form__registro {
    background-color: #f4f6f9;
    padding: 1rem 2.125rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row .main-form__registro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .main-form.contain .main-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #2f80ed;
    border-radius: 1rem;
    padding: 0;
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-form.contain .main-form__row {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .main-form.contain .main-form__row {
    width: 63%;
  }
}

footer {
  background-color: #2f80ed;
}

footer .redesSociales {
  border-top: 1px solid #2f80ed;
  background-color: #f4f6f9;
  height: 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  footer .redesSociales {
    padding: 1rem 0;
  }
}
footer .redesSociales .red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%;
}
@media screen and (min-width: 768px) {
  footer .redesSociales .red {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  footer .redesSociales .red {
    width: 20%;
  }
}
footer .redesSociales .red a {
  text-decoration: none;
}
footer .redesSociales .red img {
  width: 2rem;
}
@media screen and (min-width: 1024px) {
  footer .redesSociales .red img {
    width: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .contenedorContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 1rem 0;
  }
}
footer .contenedorContacto .secContacto {
  margin: 1rem 2rem 0 2rem;
}
footer .contenedorContacto .secContacto .subtitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .contenedorContacto .secContacto .subtitulo h4 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer .contenedorContacto .secContacto .subtitulo .spanImage {
    display: none;
  }
}
footer .contenedorContacto .secContacto .opciones {
  padding: 1rem 1rem 0 1rem;
}
footer .contenedorContacto .secContacto .opciones a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  display: block;
  text-decoration: none;
}
footer .contenedorContacto .secContacto .opcionesCont {
  padding: 1rem;
  padding-left: 0;
}
footer .contenedorContacto .secContacto .opcionesCont span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
}
footer .contenedorContacto .secContacto .opcionesCont span .phone {
  position: relative;
  top: 0.2rem;
}
footer .contenedorContacto .secContacto .opcionesCont span .mail {
  position: relative;
  top: 0.4rem;
}
footer .contenedorContacto .secContacto .opcionesCont .text {
  margin-left: 0.6875rem;
}
@media screen and (min-width: 1024px) {
  footer .contenedorContacto .secContacto .opcionesCont .mailText {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  footer .contenedorContacto .secContacto .opcionesCont .mailText {
    margin-left: 0.6875rem;
  }
}
footer .lineaFooter {
  height: 1px;
  background-color: #56ccf2;
}
@media screen and (min-width: 1024px) {
  footer .lineaFooter {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .headerPaper .header-row .header-botones #myAccount {
    width: 100%;
    position: fixed;
    left: 0;
    top: 60px;
  }
  .headerPaper .header-row .header-botones .header-botones__tienda #list_cart {
    width: 100%;
    position: fixed;
    right: -100%;
    top: 60px;
  }
}
@media screen and (max-width: 770px) {
  .headerPaper .header-row .header-form #suggest {
    position: fixed;
    width: 100%;
    top: 100px;
  }
  .main-form.contain .main-form__row .main-form__btnSociales {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) {
  .headerPaper .header-row .header-logo {
    width: 25%;
  }
}

.main-home.contain {
  width: 100% !important;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.main-home.contain .contain-center {
  max-width: 1200px;
}

@media screen and (max-width: 1199px) {
  .main-home.contain .contain-center {
    max-width: 100%;
  }
}

#remember {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

#remember span {
  margin-left: 10px;
  font-size: 14px;
  position: relative;
  padding-top: 4px;
  color: #788390;
}

.btn.btn-primary.full {
  width: 100%;
}

.pointers {
  cursor: pointer;
}
