#card-glass {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

#card-template {
  width: 430px;
  height: 240px;
  border-radius: 6px;
  background: linear-gradient(
    4deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 134, 255, 1) 100%
  );
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.white {
  color: white;
}

#numberCard {
  padding: 25px 0;
}

.addressItem {
  width: 180px;
  height: 260px;
  border-radius: 6px;
  border: 1px dotted gray;
  margin: 0 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.addressItem.active {
  border: 2px solid #2f80ed;
}

.addresTypeTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.addressItem:hover {
  border: 1px solid #2f80ed;
}

.nameType {
  color: #2f80ed;
}

.mailType {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  color: #333;
}
.addressType {
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

#payment-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.step {
  color: #333;
  font-size: 14px;
}

.num-step {
  font-size: 20px;
  color: #2f80ed;
  font-weight: 700;
}

#breadcrumbCheckout {
  padding: 0 10px;
  box-sizing: border-box;
}

#breadcrumbCheckout ul {
  display: flex;
}

#breadcrumbCheckout ul li {
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#breadcrumbCheckout ul li.active {
  color: #2f80ed;
}
#breadcrumbCheckout ul li {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gray;
}

#breadcrumbCheckout ul li i {
  font-size: 30px;
}

#breadcrumbCheckout ul li span {
  position: relative;
  top: 1px;
  margin: 0 5px;
}

#contentCheckout {
  border-radius: 4px;
  border: 1px solid #e7eaf3;
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
  padding: 10px 20px;
  box-sizing: border-box;
}

#navigationButtons {
  display: flex;
  justify-content: flex-end;
}
.optionPayment i {
  font-size: 36px;
  position: relative;
  line-height: 40px;
  top: 10px;
}
.optionPayment {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.optionPayment.active {
  background-color: #76d3ff;
}

.optionPayment:hover {
  background: rgb(232, 232, 232);
}
