#top-header {
  width: 100%;
  background-color: #f5f5f5;
}

#top-header #containerTopHeader {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  box-sizing: border-box;
}

#top-header #containerTopHeader .elemTopHeader {
  margin: 0 20px;
  font-size: 12px;
}

#iconSupport,
#iconPhone {
  font-size: 14px;
  margin-right: 5px;
}

.topHeaderTexts {
  display: flex;
  align-items: center;
}
